header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#theButton {
    display: none;
}

/* show header phone, hide nav phone on large screens */
.phone-number { display: block; }
.phone-mobile { display: none; }

#theNav {
    grid-template-rows: 1fr;
}

#theNav ul, #theNav ul.open {
    display: flex;
    li a {
        padding: .4rem 1rem;
        border: none;
    }
    a:hover {
        text-decoration: underline;
    }
} //end ul

#navWrapper {
    border-bottom: 1px solid $greyColor;
}

/* CARDS */
.cardContainer {
    grid-template-columns: repeat(4, 1fr);
}

#serviceWrapper {
    padding: 2rem 0;
}
